

.main{
    height: 100%;
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   
}
.card-filter{
    &:hover{
        .img-filter {
            display: none;
        }
        .img1-filter {
            display: block;       
        } 
    }
    .img1-filter{
        display: none;
        border-radius: 7px;
    }
    .img-filter{
        border-radius: 7px;
    }
  }

.have{
    color: #040415;
    font-size: 46px;
}
.product{
    color: darkblue !important;
   
}

.price-initial{
    color: #961C1C;
}

.price-endirim{
    font-size: small;
}
.stars{
    color: rgba(255, 171, 44, 0.916);
    font-size: xx-small;
}
.splide__slide{
    border: none !important;
    .main{
        transition: 0s ease;
        opacity: .3;
    }
    &.is-active{
        .main{
            opacity: 1;
        }
    }
}
.card-body{
    &:hover{
        .stars, .price-initial {
            display: none;
            position: absolute;
        }
       .hover-icon{
        display: flex;
        position: absolute;
        margin-left: 30px !important;
        
       }
    }
}
    .three-icon3, .three-icon2, .three-icon1{
        color: rgb(18, 110, 155);
        width: 55px !important;
        height: 55px !important;
        border-radius: 50%;
        background-color: aliceblue;
        display: flex ;
        justify-content: center !important;
        align-items: center;
        position: relative;
        border: none;
        &:hover{
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
    }
    
    .hover-icon{
        display: none;
        justify-content: space-around;
        align-items: center;
        position: relative;

     }