 // SECTIONONE 

 .sectione-text{
    // color: #B3848F;
    color: #87C0DF;
    font-weight: bolder;
    
  }
  .section-one-cards{
    border-top-left-radius: 45px;
    .delivery, .tel, .arrow{
        margin-top: 27px;
        width: 33px;
        font-weight: bold;
    }
    
  }
