.section-statistika {
    width: 100%;
    height: auto;
    background-image: url("../layihenin shekilleri/cosmetics/ssk2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .statis-container {
        width: 100%;
        height: auto;
        // background-color: #000000;
        // opacity: 0.6;
     
        
    }

    
}
